<footer>
    <div class="footersectionwrap">
        <div class="footsection footer1">
            <h4>Follow Me</h4>
            <ul class="icons">
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tumblr"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitch"></i></a></li>
                <li><a href=""><i class="fa-solid fa-rss"></i></a></li>
            </ul>

            <h4>Support</h4>
            <ul class="icons">
                <li><a href=""><i class="fa-solid fa-mug-saucer"></i></a></li>
                <li><a href=""><i class="fa-brands fa-paypal"></i></a></li>
            </ul>


        </div>
        <div class="footsection footer2">
            <h4>Read my comic</h4>
        </div>


        <div class="footerbottom">
        </div>
</footer>